<form [formGroup]="fomularioDocumento">
    <label for="dni" class="form-label">{{tipoDni}}</label>
    <!-- Class is-invalid figura si no compmle con requiderd ni minlength -->
    <input [ngClass]="{'is-invalid': hasError('dni','required') || hasError('dni','minlength')}" 
    type="text" class="form-control" id="dni" formControlName="dni">
    <div class="text-danger" *ngIf="hasError('dni', 'required')">{{tipoDni}} requerido</div>
    <div class="text-danger" *ngIf="hasError('dni', 'minlength')">{{tipoDni}} 3 caracters</div>
</form>

