<ng-container *ngIf="!loading">
    <div class="center">
        <div class="card" style="width: 18rem;">
            <img src="{{producto?.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{producto?.title | uppercase}}</h5>
                <h4 [ngStyle]="{'color' : color}">Precio: {{producto?.price | currency}}</h4>
                <p *ngIf="producto?.description" class="card-text">{{producto?.description}}</p>
            </div>
        </div>
    </div> 
</ng-container>

<ng-container *ngIf="loading">
    <i style="color: blue;">Cargando producto....</i>
</ng-container>





